{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <h2>Quick Stats</h2>

    <ul>
        <li>Total users: {{ num_users }}</li>
        <li>Total sessions: {{ num_sessions }}</li>
        <li>Total queries: {{ num_queries }}</li>
        <li>Total clicks on documents: {{ num_doc_clicks }}</li>
        <li>Dwell average time: {{ avg_dwell_time }} minuts</li>
    </ul>

    <h2>Clicked docs:</h2>

    {% for doc in clicks_data %}
        <div class="pb-3">
            <div class="">
                <span class="text-dark"> ({{ doc.count }} visits) </span> — id: {{ doc.pid }} — {{ doc.title }} - {{ doc.description }}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
